.budy{
    background-color: #282c34;
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;  
    align-items: center;
    box-shadow: 0 5px 10px 0 rgb(255, 255, 255), 0 6px 20px 0 #ffffff30;  
    width: 1000px;
    height: 1400px;
    margin-left: 22%;
    font-family: monospace;
    
   
}
.h21{
    margin-top: 3%;
    text-align: left;
    margin-left: 2%;
    color: rgb(236, 118, 114);
    font-size: 25px;
}
.box{
    padding: 0;
    margin-top: 2%;
    margin-right: 0%;
    justify-content: center;
    text-align: center;  
    align-items: center;
}

.inp{
    box-shadow: 0 5px 5px 0 rgb(255, 255, 255), 0 6px 20px 0 #ffffff30;
    border-radius: 20%;
    margin-left: 3%;
   
}
.inp {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .inp {
 

   
      width: 100px;
      height: 60px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      color: black;
      background: rgb(255, 255, 255);
      border: 2px solid black;
      box-shadow: 5px 5px 0 rgb(0, 0, 0),
          -5px -5px 0 rgb(0, 0, 0),
          -5px 5px 0 rgb(0, 0, 0),
          5px -5px 0 rgb(0, 0, 0);
      transition: 500ms ease-in-out;
  
  }
  
  .inp:hover {
      box-shadow: 20px 5px 0 rgb(0, 0, 0), -20px -5px 0 rgb(0, 0, 0);
  }
  
  .inp:focus {
      outline: none;
  }
.inpto{
    box-shadow: 0 5px 5px 0 rgb(255, 255, 255), 0 6px 20px 0 #ffffff30;
    border-radius: 20%;
    padding: 2%;
    margin-left: 70px;
    margin-right: 5px;
}   